<cfquery name="users" datasource="#session.DB_Core#">
	SELECT * FROM users
</cfquery>


<cfoutput query="users">
	<cfset userObj = structNew()>

	<cfset userObj.Username = username>
	<cfset userObj.ID = id>
	<cfset userObj.PasswordHash = password>
	<cfset userObj.EMail = email>
	<cfset userObj.PrimaryPhone = phone>
	<cfset userObj.MobilePhone = smsNumber>
	<cfset userObj.PrimaryFax = fax>
	<cfset userObj.AccountConfirmed = confirmed>
	<cfset userObj.FirstName = firstName>
	<cfset userObj.MiddleInitial = middleInitial>
	<cfset userObj.LastName = lastName>
	<cfset userObj.Birthday = birthday>
	<cfset userObj.ZIPCode = zip_code>
	<cfset userObj.PasswordQuestion = password_question>
	<cfset userObj.PasswordAnswer = password_answer>
	<cfset userObj.Status = status>
	<cfset userObj.Location = location>
	<cfset userObj.Theme = Theme>
	<cfset userObj.PAFFLAGS = PAFFLAGS>
	<cfset userObj.AccountEnabled = 1>

	<cfset t = CreateObject("component", "Prefiniti.Network.User")>
	<cfset NewUser = t.Create(userObj, "abcd1234")>
	<cfset NewUser.Save()>


</cfoutput>
